body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

/*.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}


#loading-bar {
  width: 50vw;
  height: 5vw;
  min-height: 24px;
  background-color: #eaeaea;
  border: 1vw solid #fff;
  border-radius: 5vw;
  box-shadow: 0 0 2vw rgba(0, 127, 255, 0.25);
  overflow: hidden;
}
#loading-bar.complete {
  transition: 0.8s ease;
  transform: rotate(-180deg);
}
#loading-bar.complete #progress {
  transition: 0.4s ease;
  width: 0% !important;
}

#progress {
  width: 0%;
  height: 100%;
  background: linear-gradient(#25C42F, #25c491);
  transition: 0.5s ease;
}

h1 {
  margin-bottom: 6vw;
  font-family: arial;
  font-size: 2vw;
  font-weight: 100;
  text-align: center;
}
h1 span {
  display: block;
  margin-bottom: 1vw;
}

p {
  margin-top: 2vw;
  font-family: arial;
  font-size: 2vw;
}

.reference {
  position: absolute;
  right: 24px;
  bottom: 24px;
  font-family: arial;
  text-decoration: none;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
